<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.mapper.EmployeeTrainMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cy.pojo.EmployeeTrain">
        <id column="id" property="id" />
        <result column="e_id" property="eid" />
        <result column="train_date" property="trainDate" />
        <result column="end_date" property="endDate" />
        <result column="train_content" property="trainContent" />
        <result column="remark" property="remark" />
    </resultMap>

    <resultMap id="EmployeeTrainInfo" type="com.cy.pojo.EmployeeTrain" extends="BaseResultMap">
        <result column="empName" property="empName" />
        <result column="empWorkID" property="empWorkID" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, e_id, train_date, end_date, train_content, remark
    </sql>


    <select id="getTrainByPage" resultMap="EmployeeTrainInfo">
        select
            t.*,
            e.name as empName,
            e.work_id as empWorkID
        from
            t_employee_train t,
            t_employee e
        where
            t.is_deleted = 0
        AND t.e_id = e.id
        <if test="employeeTrain.empName != null and '' != employeeTrain.empName ">
            AND e.name like concat('%',#{employeeTrain.empName},'%')
        </if>
        ORDER BY t.id desc
    </select>
    <select id="getEmployeeTrains" resultMap="EmployeeTrainInfo">
        select
        t.*,
        e.name as empName,
        e.work_id as empWorkID
        from
        t_employee_train t,
        t_employee e
        where
        t.is_deleted = 0
        AND t.e_id = e.id
        <if test="name != null and '' != name ">
            AND e.name like concat('%',#{name},'%')
        </if>
        ORDER BY t.id desc
    </select>


</mapper>
